<main>
    <div class="container">
        <div class="about-us">
            <div>
                <img src="/shoes.jpg" alt="image 1">
                <img src="/shoes2.jpg" alt="image 2">
            </div>
            <p>
                <a href="/users/register">Register Now</a> and Try it!
            </p>
        </div>
    </div>
</main>